// -----------------
// path
// -----------------
$imgPath = '../images/'

// -----------------
// breakpoint
// -----------------
$sp-max_width = 940
$pc-min_width = 941

// -----------------
// line-height
// -----------------

// -----------------
// font-weight
// -----------------
//font-weigthは以下を使う

// -----------------
// color
// -----------------
$text_base_color = #595959
$navy = #003A64;
