.p-highCareerConsultantDetail
  padding-top 60px
  background-color #faf8f7
  +sp()
    padding 40px 10px 0

  &__content
    width 960px
    margin 0 auto
    +sp()
      width inherit
      background-color #fff
      padding 10px
  &__link
    display block
    width 240px
    margin 120px auto 0
    padding 15px 30px
    color #fff
    background url("https://www.r-agent.com//assets/imgs/specialArea/img_executive_bg_check.png") no-repeat center/cover
    font-size 1.6rem
    text-align center
    +sp()
      margin 30px auto 10px
      font-size 1.4rem
