//base
a
  text-decoration none
  color inherit
  pc-hover-preset()
  .ua-pc &:hover:link
    opacity .5
  &:link
    cursor pointer
  &.anchor
    color $color-link
    &:link
      linktext()
html
  font-size 62.5%
  height 100%
  min-height 100%
body
  font-family "游ゴシック Medium","Yu Gothic Medium","游ゴシック体","YuGothic","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","Verdana",sans-serif
  width 100%
  min-height 100%
  height 100%
  background #fff
  font-size 1.4rem
  color $text_base_color
  line-height 1.5
*, *:before, *:after
  box-sizing border-box

h1, h2, h3
  color $navy
