.o-careerAdviserBreadcrumb.u-only-pc
  .o-careerAdviserBreadcrumb__body
    a.o-careerAdviserBreadcrumb__link.a-link(href='/') トップ
    | &nbsp;&#x3E;&nbsp;
    if page == 'detail'
      a.o-careerAdviserBreadcrumb__link.a-link(href='/executive/') 下層1
      | &nbsp;&#x3E;&nbsp;
      a.o-careerAdviserBreadcrumb__link.a-link(href='/executive/consultant/') 下層2
      | &nbsp;&#x3E;&nbsp; #{consultants[key].name}
    else
      a.o-careerAdviserBreadcrumb__link.a-link(href='/executive/') 下層1
      | &nbsp;&#x3E;&nbsp;下層2
