.o-careerAdviserEntryCassette.u-only-pc
  .o-careerAdviserEntryCassette__container.u-pl-70
    .o-careerAdviserEntryCassette__body
      p.o-careerAdviserEntryCassette__text
        | exampleexampleexample
      .o-careerAdviserEntryCassette__btnContainer
      p.o-careerAdviserEntryCassette__notice exampleexampleexample
    

.o-careerAdviserEntryCassette.u-only-sp
  .o-careerAdviserEntryCassette__container
    .o-careerAdviserEntryCassette__body
      p.o-careerAdviserEntryCassette__text
        | exampleexampleexample
    .o-careerAdviserEntryCassette__btnContainer
    p.o-careerAdviserEntryCassette__notice exampleexampleexample
