.o-careerAdviserEntryCassette.u-only-pc
  .o-careerAdviserEntryCassette__container.u-pl-70
    .o-careerAdviserEntryCassette__body
      p.o-careerAdviserEntryCassette__text
        | 頼れるコンサルタントが、あなたの転職活動に寄り添います。何でもお気軽に相談ください。
      .o-careerAdviserEntryCassette__btnContainer
        a.m-btn.a-btn.a-btn--m.a-btn--accent.o-careerAdviserEntryCassette__btn(href='/entry/ts/')
          | 転職支援サービスに申し込む
          svg.m-btn__arrow
            use(xlink:href='#icon_chevron')
      p.o-careerAdviserEntryCassette__notice ※お申込み時にキャリアコンサルタントの指定はできません。予めご了承ください。
    img.o-careerAdviserEntryCassette__img(src='https://www.r-agent.com//assets/imgs/executive/img_career_agent_man_and_woman@2x.jpg', alt='キャリアエージェント')
    

.o-careerAdviserEntryCassette.u-only-sp
  .o-careerAdviserEntryCassette__container
    .o-careerAdviserEntryCassette__body
      p.o-careerAdviserEntryCassette__text
        | 頼れるコンサルタントが、あなたの転職活動に寄り添います。何でもお気軽に相談ください。
      img.o-careerAdviserEntryCassette__img(src='https://www.r-agent.com//assets/imgs/executive/img_career_agent_man_and_woman@2x.jpg', alt='キャリアエージェント')
    .o-careerAdviserEntryCassette__btnContainer
      a.m-btn.a-btn.a-btn--m.a-btn--accent.o-careerAdviserEntryCassette__btn(href='/entry/ts/')
        | 転職支援サービスに申し込む
        svg.m-btn__arrow
          use(xlink:href='#icon_chevron')
    p.o-careerAdviserEntryCassette__notice ※お申込み時にキャリアコンサルタントの指定はできません。予めご了承ください。
