//- RAG現行サイトからとってきたソース
footer.o-footer.o-footer--hasFloatingBtn
  .o-footer__nav.m-linkList
    a.a-link.a-link--monotone.m-linkList__item.m-linkList__item--spaceS(href='/smp/policy/index.html')
      .m-linkList__text プライバシーポリシー
      svg.m-linkList__arrow.a-icon.a-icon--brand
        use(xlink:href='#icon_chevron')
    a.a-link.a-link--monotone.m-linkList__item.m-linkList__item--spaceS(href='/contact/?id=0030')
      .m-linkList__text お問い合わせフォーム
      svg.m-linkList__arrow.a-icon.a-icon--brand
        use(xlink:href='#icon_chevron')
    a.a-link.a-link--monotone.m-linkList__item.m-linkList__item--spaceS(href='http://www.ss-shop.jp/smp/', target='_blank')
      .m-linkList__text 未経験からの正社員
      svg.m-linkList__arrow.a-icon.a-icon--brand
        use(xlink:href='#icon_chevron')
    a.a-link.a-link--monotone.m-linkList__item.m-linkList__item--spaceS(href='http://www.direco-recruiting.jp/?utm_source=ragsp&amp;utm_medium=ragspcommonftr&amp;utm_campaign=ragspcommonftr')
      .m-linkList__text 中途採用なら採用成功ナビ
      svg.m-linkList__arrow.a-icon.a-icon--brand
        use(xlink:href='#icon_chevron')
    //
  .o-footer__inner
    .o-footer__sitemap
      div 転職成功実績No.1。これまで約30万名（2012年度実績）を転職成功に導いたリクルートエージェントの転職支援サービス。
      a.a-link(href='/') 転職のリクルートエージェントトップ
      a.a-link(href='/service/') サービス紹介
      a.a-link(href='/map/') 拠点一覧
      a.a-link(href='/kensaku/') 求人情報
      a.a-link(href='/guide/') 転職成功ガイド
      a.a-link(href='/otoiawase/') お問い合わせ
      a.a-link(href='/policy/ssl.html') ご利用にあたって
      a.a-link(href='/policy/') プライバシーポリシー
      a.a-link(href='/sitemap/') サイトマップ
    .o-footer__feature
      span.o-footer__feature__title 【リクルートエージェントの転職求人情報特集】
      a.a-link(href='/engineer/') エンジニア・IT転職
      a.a-link(href='/medical/') MRの転職
      a.a-link(href='/nisotsu/') 第二新卒の転職
      a.a-link(href='/kanbu/') 管理職・ハイクラスの転職
      a.a-link(href='/uiturn/') Uターン、Iターンの転職
      a.a-link(href='/global/') 外資系・グローバルの転職
      span.o-footer__feature__title 【転職ノウハウ】
      a.a-link(href='/guide/knowhow/bunseki.html') 自己分析
      a.a-link(href='/guide/knowhow/kenkyu.html') 業界・企業研究
      a.a-link(href='/guide/knowhow/rirekisho.html') 履歴書の作成
      a.a-link(href='/guide/knowhow/resume.html') 職務経歴書の書き方
      a.a-link(href='/guide/knowhow/mensetsu1.html') 面接準備・対策
      span.o-footer__feature__title 【法人向け採用支援・人材紹介サービス】
      a.a-link(target='_blank', href='http://www.direct-recruiting.jp/topics/shohin/recruit-agent/?utm_source=ragpc&utm_medium=ragftr-rag&utm_campaign=ragftr-rag') リクルートエージェントでの採用をお考えの企業様へ
      span.o-footer__feature__title 【法人向け中途採用支援サイト】
      a.a-link(target='_blank', href='http://www.direct-recruiting.jp/?utm_source=ragpc&utm_medium=ragftr-top&utm_campaign=ragftr-top') 中途採用をお考えの企業様へ
    .o-footer__companyLogo
      .o-footer__homeLink
        a(href='http://www.recruitcareer.co.jp/', target='_blank')
          img.o-footer__logo(src='https://www.r-agent.com/common/imgs/footer_rca_white_pc.png', alt='Recruit Career Co., Ltd.')
        a.a-link.a-link--underline(href='https://www.recruit.co.jp/', target='_blank') リクルートグループサイトへ
      .o-footer__text 転職エージェントなら転職成功実績No.1のリクルートエージェント
