//- RAG現行サイトからとってきたソース
footer.o-footer.o-footer--hasFloatingBtn
  .o-footer__nav.m-linkList
    a.a-link.a-link--monotone.m-linkList__item.m-linkList__item--spaceS(href='/contact/?id=0030')
      .m-linkList__text お問い合わせフォーム
    //
  .o-footer__inner
    .o-footer__sitemap
      div exampleexampleexample
      a.a-link(href='/') トップ
      a.a-link(href='/service/') サービス紹介
      a.a-link(href='/map/') 拠点一覧
      a.a-link(href='/kensaku/') exampleexampleexample
      a.a-link(href='/guide/') exampleexampleexample
      a.a-link(href='/otoiawase/') お問い合わせ
      a.a-link(href='/sitemap/') サイトマップ
    .o-footer__feature
      span.o-footer__feature__title exampleexampleexample
      a.a-link(href='/example/') example
      a.a-link(href='/example/') example
      a.a-link(href='/example/') example
      a.a-link(href='/example/') example
      a.a-link(href='/example/') example
      a.a-link(href='/example/') example
      span.o-footer__feature__title example
      a.a-link(href='/example') example
      a.a-link(href='/example') example
      a.a-link(href='/example') example
      a.a-link(href='/example') example
      a.a-link(href='/example') example
      span.o-footer__feature__title example
      span.o-footer__feature__title example
    .o-footer__companyLogo
      .o-footer__homeLink
        a(href='', target='_blank')
          img.o-footer__logo(src='', alt='')
        a.a-link.a-link--underline(href='example', target='_blank') example
      .o-footer__text example
