header.o-header.o-header--border
  .o-header__inner
    .o-header__companyLogo
      a.o-header__homeLink(href='/')
        img.o-header__logo(src='', alt='')
      .o-header__title example
    .o-header__utility.l-header__utility
      .o-header__links
        a.a-link(href='') example
        a.a-link(href='') example
      .o-header__buttons
        .o-header__button
          a.a-btn.a-btn--xs.a-btn--accent(href='') example
    .o-headerMenuBtn.js-toggleMenu
      svg.o-headerMenuBtn__icon.a-icon.a-icon--white
        use(xlink:href='')
header.o-header.o-header--border.o-header--fixed
  .o-header__inner
    .o-header__companyLogo
      a.o-header__homeLink.o-header__homeLink--invalid(href='/')
        img.o-header__logo(src='', alt='')
      .o-header__title example
    .o-header__utility.l-header__utility
      .o-header__buttons
        .o-header__button
          a.a-btn.a-btn--xs.a-btn--accent(href='') example
          
.o-headerMenuBody
  .o-headerMenuBody__contents
    ul.m-linkList.m-linkList--highCareer
      a.m-linkList__item.m-linkList__item--spaceS(href='')
        span.m-linkList__text example
        svg.m-linkList__arrow.a-icon.a-icon--highCareerDark
          use(xlink:href='')
      a.m-linkList__item.m-linkList__item--spaceS(href='')
        span.m-linkList__text example
        svg.m-linkList__arrow.a-icon.a-icon--highCareerDark
          use(xlink:href='')
      a.m-linkList__item.m-linkList__item--spaceS(href='')
        span.m-linkList__text example
        svg.m-linkList__arrow.a-icon.a-icon--highCareerDark
          use(xlink:href='')
      a.m-linkList__item.m-linkList__item--spaceS(href='/')
        span.m-linkList__text example
        svg.m-linkList__arrow.a-icon.a-icon--highCareerDark
          use(xlink:href='')
      .m-linkList__item.m-linkList__item--spaceS
        a.a-btn.a-btn--m.a-btn--accent(href='') example
