header.o-header.o-header--border
  .o-header__inner
    .o-header__companyLogo
      a.o-header__homeLink(href='/')
        img.o-header__logo(src='https://www.r-agent.com/smp/common/imgs/head_sitelogo.png', alt='RECRUIT AGENT')
      .o-header__title 転職エージェントならリクルートエージェント
    .o-header__utility.l-header__utility
      .o-header__links
        a.a-link(href='http://www.ss-shop.jp/') 未経験からの正社員
        a.a-link(href='http://www.direct-recruiting.jp/topics/shohin/recruit-agent/') 採用企業様へ
      .o-header__buttons
        .o-header__button
          a.a-btn.a-btn--xs.a-btn--accent(href='/entry/ts') 転職支援サービスに申し込む
    .o-headerMenuBtn.js-toggleMenu
      svg.o-headerMenuBtn__icon.a-icon.a-icon--white
        use(xlink:href='#icon_menu_b')
header.o-header.o-header--border.o-header--fixed
  .o-header__inner
    .o-header__companyLogo
      a.o-header__homeLink.o-header__homeLink--invalid(href='/')
        img.o-header__logo(src='https://www.r-agent.com/smp/common/imgs/head_sitelogo.png', alt='RECRUIT AGENT')
      .o-header__title 転職エージェントならリクルートエージェント
    .o-header__utility.l-header__utility
      .o-header__buttons
        .o-header__button
          a.a-btn.a-btn--xs.a-btn--accent(href='/entry/ts') 転職支援サービスに申し込む
          
.o-headerMenuBody
  .o-headerMenuBody__contents
    ul.m-linkList.m-linkList--highCareer
      a.m-linkList__item.m-linkList__item--spaceS(href='/kensaku/select01-06/?fr=kyujin_list_executive_lp_gnavi&lp_name=executive')
        span.m-linkList__text 年収800万以上の求人一覧
        svg.m-linkList__arrow.a-icon.a-icon--highCareerDark
          use(xlink:href='#icon_chevron')
      a.m-linkList__item.m-linkList__item--spaceS(href='/executive/consultant/?fr=ca_list_executive_lp_gnavi&lp_name=executive')
        span.m-linkList__text コンサルタント紹介
        svg.m-linkList__arrow.a-icon.a-icon--highCareerDark
          use(xlink:href='#icon_chevron')
      a.m-linkList__item.m-linkList__item--spaceS(href='/event/?fr=event_list_executive_lp_gnavi&lp_name=executive')
        span.m-linkList__text 開催予定のイベント一覧
        svg.m-linkList__arrow.a-icon.a-icon--highCareerDark
          use(xlink:href='#icon_chevron')
      a.m-linkList__item.m-linkList__item--spaceS(href='/')
        span.m-linkList__text リクルートエージェント　トップ
        svg.m-linkList__arrow.a-icon.a-icon--highCareerDark
          use(xlink:href='#icon_chevron')
      .m-linkList__item.m-linkList__item--spaceS
        a.a-btn.a-btn--m.a-btn--accent(href='/entry/ts?fr=ts_executive_lp_gnavi') 転職支援サービスに申し込む（無料）
