-
  var consultants = {
    't_sugiyama' : {
      name: '杉山　友章',
      initial: 'T.SUGIYAMA',
      type: '半導体',
      filterNum: 3,
      profile: '91年に日本最大の転職エージェントであるリクルートキャリアに入社後、27年にわたり電機・自動車・通信・半導体・ITなどテクノロジー領域を担当。05年、トップコンサルタントが招集されてスカウト部門を立ち上げ。以後、これまで12年間にわたりクライアント企業の重要ポジション専門スカウト。',
      strength: '・高度研究員採用、次世代技術開発関連（IoT/M2M/SmartX/V2X/ﾛﾎﾞﾃｨｸｽなど）<br>・外資キーアカウント各社からのConfidential案件を含むスカウトオーダー案件<br>・「技術」×「戦略」領域の案件いずれも年収800万円以上、上限無しの案件',
      message: '現職エースクラスの評価でありながら、さらに成長するための環境を求める方に関心が有ります。そのような方々がワクワクするようなポジション開発をしています。「成長していないと気持ち悪い」と言う方、3～5年スパンの中長期でキャリア形成をお考えの方、ご連絡をお待ちしております。'
    },
    'y_uchibori': {
      name: '内堀　由美子',
      initial: 'Y.UCHIBORI',
      type: 'WEB、NET関連職種',
      filterNum: 2,
      profile: '学生時代に美術を学び、新卒で大手SIerに入社。約4年半、システム開発を担当。2011年にリクルートキャリア社に入社。以後、一貫してインターネット領域における個人の方のご転職支援および企業の採用支援に従事しております。現在は、企画・デジタルマーケティング・エンジニア・セールス・ゲーム等のインターネット専門職専任コンサルタントとして、企業・個人の方の支援をさせていただいています。',
      strength: '・インターネット企業大手からスタートアップ<br>・大手事業会社のデジタル部門<br>・新規事業企画・デジタルマーケティング<br>・エンジニア<br>・ゲーム',
      message: '今までのクリエイティブ、エンジニアでの経験を、エージェントという形で業界に還元できたらと思っています。個人の方のキャリア形成と企業の重要ポジションにおいて、入社後活躍も見据えたご提案ができるように心がけています。'
    },
    'y_inagaki': {
      name: '稲垣　礼仁',
      initial: 'Y.INAGAKI',
      type: 'コンサルティング',
      filterNum: 1,
      profile: '社会人2年目にリクルートに中途入社し、IT及びコンサル系企業へ人材提案及び採用ブランディングのコンサルティングを実施。その後、事業戦略とモチベーションに関する研究員としてHR系事業に携わった後、メディアのコンテンツ企画とセールスマネージャーを兼務。2003年より自己申告制度で現在の領域に携わり、IT系を中心にハイキャリア領域にて1000名以上のキャリアカウンセリングを実施して参りました。＊国家資格キャリアコンサルタント資格あり',
      strength: '・コンサルティングファーム（業務、ITコンサル、デジタルコンサル：SC、Mgr以上）のキャリア形成<br>・事業会社(社内SE、社内コンサル)へのキャリア形成<br>・SIベンダー出身の方のキャリア形成<br>・専門領域(セキュリティ、リスク、監査)へのキャリア形成<br>・新領域(RPA、ブロックチェーン等、デジタルトランスフォーメーション系)のキャリア形成',
      message: 'キャリアコンサルタントとして、来談者を中心としたコンサルティングを徹底して推進いたします。将来に向けたキャリア形成を共に考え、輝かしい未来を手にする為のご支援を差し上げる事をモットーに、時には業界内の人脈を使い、あなたの強みを企業にプレゼンする代理人として活動をしております。共にこれからのキャリアを考え、実現させていく活動の援助をさせて頂ければと思います。'
    },
    't_shindou': {
      name: '新堂　尊康',
      initial: 'T.SHINDOU',
      type: 'ロボティクス・宇宙',
      filterNum: 3,
      profile: '大手電子部品メーカーに技術営業として勤務後、2008年リクルートキャリア入社。東海三県における製造業専任コンサルタントとして従事し、大手顧客から中小企業まで幅広く担当。常に現場である技術者や経営者との接点を重視し、事業成長の核となりうる人材のご提案に邁進。その後、マネジャー職を経てニュービジネス領域専任のコンサルタントへ。主に、新規事業立ち上げ部署の採用を担当。特に『宇宙・ロボティクス領域』を専門としており、大手企業様の新規事業立ち上げや、スタートアップベンチャー企業様の事業拡大に従事。',
      strength: '「ロボティクス（FA、パーソナルロボット、ドローンなど）」と「宇宙」を専門領域としており、大手企業様の新規事業立ち上げや、スタートアップベンチャー企業様の事業拡大に特化したご支援をさせていただいております。',
      message: 'お預かりしている案件は、事業成長においてキーとなるポジションばかりです。そして技術者にとって、新規事業に関わることは、『技術×事業構築』でありまさにキャリアの掛け算だと考えています。ご自身のキャリアデザインにとっても、大変重要なターニングポイントとなり得ますので、そのような出会いを１つでも多く創出できるコンサルタントとして、皆様のキャリアをご支援させていただきます。'
    },
    'c_ogawa': {
      name: '小川　智里',
      initial: 'C.OGAWA',
      type: '経営企画/コンサルティング',
      filterNum: 6,
      profile: '2009年4月 学生時代、仲間内でネットビジネス立上。0→1、ビジネスの面白さを体感し、別事業として結婚相談所の立上にも従事。我流ではなくビジネスの本質やフレームワークを学びたいと考え、第二新卒枠で2010年7月 株式会社ネオキャリアへ入社。IT子会社であるアクサス株式会社の大阪支社立上に携わり、営業・営業MGRを経て事業責任者として従事。2016年5月 株式会社リクルートキャリアへ入社し、現在に至る。',
      strength: '・業界不問数名のベンチャー企業から日本を代表するような大手企業様まで幅広くご支援可能です。',
      message: 'リクルートハイキャリア領域コンサルタントにおいての私の特徴でもありますが、専門領域特化型ではなく、業界/職種はかなり広域になります。決定内訳でみても独自案件での経営ボード決定が多いことや、求人起点よりも候補者起点で求人創出及び決定といった、ブルーオーシャン型の営業スタイルが強いタイプのコンサルタントです。'
    },
    'n_hashimoto': {
      name: '橋本　尚弥',
      initial: 'N.HASHIMOTO',
      type: '知財/法務',
      filterNum: 5,
      profile: 'スポーツ新聞社にて記者職を経験後、2012年にリクルートキャリアへ入社。東海エリアにて技術領域専門のキャリアアドバイザーを経験した後、経営幹部の採用・転職を担うハイキャリア・グローバルコンサルテイング部へ異動。現在はプレイングマネジャーとして、管理部門全般(人事・経理・法務・知的財産・SCM)を担当。自身の専門領域は知的財産領域で1,300人を越える人脈を有し、大学での講演、メデイアへの掲載実績多数。',
      strength: '知的財産領域',
      message: 'デジタルトランスフォーメーションにより、知的財産領域において人材流動が活性化しています。大手企業における知的財産部門の改革、中堅・中小・ベンチャー企業における知的財産部門の立ち上げ、知的財産を活用した事業化支援などを行うコンサルテイング会社ヤシンクタンクなど、ご経験、実績、ご志向に応じたOpportunityをご提案させていただきます。また、知的財産領域でのキャリア形成にとどまらず、経営人材へのキャリアアップにおいても実績がございますので、キャリア開発におけるご相談・支援も承っております。'
    },
    'k_inoue': {
      name: '井上　和真',
      initial: 'K.INOUE',
      type: '半導体',
      filterNum: 3,
      profile: '商社にて約13年営業、企画、購買、物流とものづくり全般を経験した後、ものづくりエンジニアの採用支援、外資系エージェントにてエグゼクティブサーチ、日系大手エージェントにてミドル、シニアクラスのエンジニア採用支援と約12年以上　一貫して製造業における採用支援に関わって参りました。',
      strength: '・半導体、電気・電子領域　研究開発、開発、プロセス、品質・外資グローバル企業からのConfidential案件を含むスカウトオーダー案件<br>・「技術」×「戦略」領域の案件',
      message: '成長したい個人と成長、変革したい企業を結びつけることで製造業の拡大に貢献することをミッションにしております。プロとして大きな人生の節目に関わる重みを常に考え、法人、個人双方の満足を高めて参ります。新しいチャレンジをしたいとお考えの方ご連絡をお待ちしております。'
    },
    'r_araki': {
      name: '茨木　涼子',
      initial: 'R.ARAKI',
      type: 'WEB、NET関連職種',
      filterNum: 2,
      profile: '1社目独立系SI企業に入社し通信キャリア、大手SIer、大手インターネット企業（ゲーム、代理店含む）向けの営業、人材支援を5年経験しリクルートキャリア社へ入社。弊社入社以降は一貫して、IT・デジタル（インターネット）領域のご経験を持つ方の担当コンサルタントを行っております。',
      strength: '・webプロデューサー/ディレクター/デザイナー/UI・UX領域<br>・デジタルマーケティング<br>・プロジェクトマネージャー<br>・WEBシステムエンジニア/ディレクター<br>・事業開発※日系・外資系大手事業会社からインターネット広告代理店、スタートアップまで',
      message: 'インターネット・クリエイティブ・IT業界、職種において日々変化を繰り返す業界に面白さと魅力、大きな可能性を感じております。また、私たちが業界動向をいち早くキャッチアップし、固定概念に捉われない提案を心がけております。現在、未来と繋がる中長期目線を見据えたキャリアの積み上げ方を一緒に考えていき、それが少しでもプラスになっていただければ幸いです。'
    },
    't_kato': {
      name: '加藤　丈博',
      initial: 'T.KATO',
      type: '外資ベンダー/コンサルティング',
      filterNum: 1,
      profile: '新卒でリクルートキャリアに入社後、IT・NET領域のスタートアップから東証一部上場企業まで幅広い企業担の採用を支援に従事いたしました。その後、事業会社情報システム部門の年収600万円以上求人に対するコンサルティングサービスをする部署を経験。直近では外資ベンダー・外資コンサルティングファームを中心にハイキャリアの方の支援を担当しております。',
      strength: '・外資ベンダー(セールス/プリセールス/PM/コンサル/テクニカルサポート全職種)<br>・外資コンサルティングファーム',
      message: '「ひとの可能性が最大限発揮される社会の実現」に向けて、この仕事に携わらせて頂いております。5年後、1０年後の日本・グローバルのマーケットの変化を見据えて、あなたの実現したいキャリアを共に考え、支援をさせて頂きたいと思っております。'
    },
    'h_tokoro': {
      name: '所　寿紀',
      initial: 'H.TOKORO',
      type: '自動車',
      filterNum: 3,
      profile: '在アメリカ日本大使館、大手半導体メーカーの商品企画、技術営業を経て、2006年リクルートキャリアへ社。技術領域専門のキャリアアドバイザー、関西大手メーカーの営業担当、東海圏のサーチコンサルタント（主に自動車業界）を経験。現在はプレイングマネジャーとして東京本社で先進技術領域（主に車載業界やロボティックス業界、通信業界など）におけるコンフィデンシャル案件をはじめ管理職・経営幹部などのハイキャリア案件を担当。とりわけ車載業界におけるネットワークは随一です。',
      strength: '業界：自動車業界（完成車・サプライヤー・スタートアップ）領域：先進技術領域・走行安全、ドライバーズアシスタント、自動操縦<br>・MtoM、VtoXなど次世代通信ネットワーク<br>・IoT、ビッグデータ関連<br>・パワーエレクトロニクス',
      message: '先端技術領域や伸長性ある業界を常にウォッチし、長期的な視点を持った、きめ細やかで質の高いキャリアコンサルティングを得意としております。大手日系企業から海外ベンチャー企業まで幅広いクライアントのサーチ依頼を得意としております。'
    },
    'h_shioiri': {
      name: '塩入　啓文',
      initial: 'H.SHIOIRI',
      type: '経営企画/コンサルティング',
      filterNum: 6,
      profile: '通信キャリアで法人営業を経験後、リクルートキャリアに入社。２０数年間採用支援業務、転職支援業務をコンサルタントとして、また組織長として経験して来ました。',
      strength: '・職種：企画・管理部門／営業等事務関連全般／ＩＴエンジニア<br>・業界不問',
      message: '自身の転職、採用支援、転職支援、採用部門の責任者・面接官と幅広い経験からのアドバイス・サポートさせていただきたいと思います。'
    },
    'y_umezawa': {
      name: '梅澤　陽子',
      initial: 'Y.UMEZAWA',
      type: 'IT業界全般',
      filterNum: 1,
      profile: '2009年新卒で日本ユニシスに入社。システムエンジニアとして主に流通業界向けシステム開発に従事。その後、当社にて大手SIerやコンサルファーム、ベンチャーや中堅SIerなど、幅広いIT業界のお客様約300社の中途採用をご支援。現在はIT領域のハイキャリア転職支援を担当しております。',
      strength: '業界不問　IT関連職種（システム企画/PM/アーキテクト/ITサービス営業）',
      message: '自身のエンジニア経験と一貫したIT業界におけるご転職支援経験をもとに、最適なキャリアのご提案が可能です。人生の大半を過ごす「仕事」を通じて、どのようなキャリアを築き何を実現されたいか、一緒に価値観を整理させていただきながら、充実した人生の構築に向けてお手伝いいたします。'
    },
    'n_oda': {
      name: '織田　直子',
      initial: 'N.ODA',
      type: 'IT業界全般',
      filterNum: 1,
      profile: '新卒で日系IT企業においてITコンサルティングに従事した後、リクルートキャリアに入社。金融業界向けの法人営業を経て約10年以上ハイキャリア層のサーチ部門にて金融・IT・コンサルティング業界のハイクラス人材のスカウト、転職サポートを行う。コンサルティングファーム（業務、ITコンサルタント、デジタル領域、リスク領域）、プロジェクトマネージャー、事業会社情報システム部門など、内資・外資問わずベンダー、SIer、コンサルティングファームに幅広く決定実績がある。',
      strength: '・コンサルティングファーム（業務、ITコンサル、デジタルコンサル：マネージャー以上）・外資ベンダー（セールス、プリセールス、ポストセールス、エンジニア）・情報システム部門・その他データサイエンティスト、RPA、クラウド、セキュリティなどの関連職種',
      message: '転職ありきではなく、中長期的にキャリアのご相談をさせていただくことを心がけております。これまで築いてこられたキャリアをしっかり理解し、さらにマーケットの今後を見据え、どうキャリアをつくっていくのか、そういった視点でご提案できるよう日頃より企業との関係性構築やマーケット情報の収集にも努めております。'
    },
    'n_hadano': {
      name: '羽田野　直美',
      initial: 'N.HADANO',
      type: '素材・化学',
      filterNum: 3,
      profile: '工学部応用化学科を修了後、電池メーカーに入社。約8年、電池の研究・開発を行う。２００４年にリクルートキャリア（旧リクルートエージェント）に入社。中途採用斡旋事業にて製造業のエンジニアを中心としたキャリアアドバイザーとして、面談、求人の紹介、面接アドバイスなどを行う。２０１０年からはハイキャリア・グローバル領域のコンサルタントとして、特に「素材・エネルギー・電機業界」を中心に、リーダーからディレクタークラス、また高度専門職などのキャリアコンサルティングに従事。米国CCE,Inc認証　GCDF-Japan　キャリアカウンセラー資格有',
      strength: '・化学・素材の研究開発、新規事業企画・各種電子部品、デバイスの開発・プロセス、プラントエンジニアリング・エネルギー・電力関連求人',
      message: '化学・素材の専門知識、前職エンジニアの経験を元に、個人のキャリア、企業の技術力を深く理解した上でのマッチングを心がけています。中長期でのお付き合いの方も多く、是非その方にフィットしたご縁を紡がせていただきたいと思っております。'
    },
    'm_murayama': {
      name: '村山　雅哉',
      initial: 'M.MURAYAMA',
      type: 'IT業界全般',
      filterNum: 1,
      profile: '91年に日本最大の転職エージェントであるリクルートキャリアに入社後、ＩＴ領域を主にＩＴ業界企業（コンサルティング/システムインテグレター/外資系ソフトベンダー等）の採用支援とＩＴコンサルタント/ＩＴエンジニアセールス等）転職者の支援に従事してまいりました。',
      strength: '・ＩＴコンサルタント/エンジニアのキャリア・事業会社（社内ＳＥ）IT部門への転職・シニア人材の「働き方」「キャリア」について',
      message: '日本のIT業界において各企業のIT化への期待は加速度的に膨らみ、人材不足はさらに深刻化が見込まれています。古くから神話的に言われ続けた35歳SE定年説の時代から、35歳からのキャリアを真剣に考えるべく時代を迎えております。転職はキャリアを考える上での一つの選択肢。是非一緒にこれからのキャリアについて考えていただくきっかけにしていただけるようご提案させていただきます。'
    },
    'k_fukuda': {
      name: '福田　恭子',
      initial: 'K.FUKUDA',
      type: '製薬',
      filterNum: 4,
      profile: '2008年、新卒で現リクルートキャリア入社。10年以上、一貫して医療業界の担当として、ご転職支援および製薬メーカーの採用支援に従事しております。現在は、ハイキャリア部門の製薬業界の専門職専任コンサルタントとして、研究、臨床開発・治験、品質/生産、薬事・学術(メディカル)、等の方々のキャリアコンサルティングに従事。あわせて、各製薬メーカーのスカウト担当として採用支援を行っています。',
      strength: '・研究(創薬/製剤/非臨床）・臨床開発関連（プロジェクトマネージャー、モニター、ＤＭ、統計解析、ＰＭＳ、ＰＶ、監査）・品質保証QA/品質管理QC・薬事・メディカル（MSL、MA、MSE)・プロダクトマーケティング',
      message: '各製薬メーカーのパイプラインや組織状況、社風のフィット感を含め【入社後のご活躍】を重視した提案に定評がございます。企業の部長クラスから仕入れた各案件に関する適切な情報提供はもちろん、現場社員やご入社者から頂いた「生の声」をお伝えさせていただくことで、納得度の高い転職に向けた安心感のあるサポートを心掛けております。'
    },
    'r_imanaka': {
      name: '今中　諒',
      initial: 'R.IMANAKA',
      type: '素材・化学',
      filterNum: 3,
      profile: '2006年に現在のリクルートキャリアに入社、人材紹介事業に携わり法人営業・キャリアアドバイザーを経験。メディカル・IT・通信・コンサルティング業界と幅広い業界の採用を支援して参りました。2014年から製造業を担当させて頂き、2015年からハイキャリア部門の製造業専任のコンサルタントとして従事しています。特に、化学・プラント・電機業界を中心に大手から中小まで担当させて頂いています。',
      strength: '・化学、電機業界の研究開発、新規事業企画・プラントエンジニアリング',
      message: 'これまでのご経験を基に、今後のキャリアへのお考えを理解した上で案件のご提案をさせて頂いています。キャリアの継続を意識した転職になるようお手伝いさせて頂きます。'
    },
    'k_aoki': {
      name: '青木　一憲',
      initial: ' K.AOKI',
      type: '自動車',
      filterNum: 6,
      profile: '新卒で完成車メーカーに入社。約13年のキャリアの中で、生産管理／IE、商品マーケティング、プログラム管理（経営企画）と大きく３つの部門を経験してきました。2015年8月からリクルートキャリアへ転職し、現部門にて東京のIT業界を担当後、現在は関西大手製造業を担当しています。製造業かつエンジニア、管理部門出身という稀な経験を活かし、業界・技術動向だけでなく、企業・部門間の関係性まで理解しています。',
      strength: '業界：製造業（特に自動車関連メーカー）/コンサルティングファーム職種：生産管理・SCM・生産技術（工程問わず）・マーケティング・経営企画（特にプログラム管理）',
      message: '私は35歳で異業種異職種から転職しています。様々なきっかけ、理由で転職を考えられると思いますので、親身になってお話を受けしご希望を実現できるよう心掛けています。'
    },
    'a_nagasao': {
      name: '永棹　愛里',
      initial: 'A.NAGASAO',
      type: '事業企画/マーケティング',
      filterNum: 5,
      profile: '米国CCE,Inc.認定GCDF-Japan キャリアカウンセラー。国家資格キャリアコンサルタント。教育関連企業にて販促や企画に携わった後、2008年にリクルートキャリアへ入社。IT・NET領域のキャリアアドバイザー経験後、2010年にハイキャリア専門部門立ち上げに参画。経営企画・事業企画・マーケティング領域のご経験をお持ちの方々の転職サポートと、当該職種のご採用をご検討の企業様の採用支援に従事。',
      strength: '・消費財業界またはBtoCサービスにおける事業企画・マーケティング・NET業界（特にベンチャー）における事業開発、CXO案件',
      message: '個人個人によって価値観やご志向は異なりますので、お話をお伺いした上でご希望に沿った転職のサポートを心がけています。また、どのようにキャリアを自己形成をしていくかについて一緒に考えさせていただければと思っております。'
    },
    'j_morishige': {
      name: '森重　丈二',
      initial: ' J.MORISHIGE',
      type: '電気・電子',
      filterNum: 6,
      profile: '約30年にわたり採用支援、転職支援の両方の業務を経験。延べ3300社を訪問、機械、電気・電子、化学・材料、制御ソフトなど技術系職種経験者を中心に約4000名の方との面談、約1200名の転職実現を支援。技術や企業の約30年の栄枯盛衰を実体験しています。',
      strength: '業界：製造業(大手から先端技術研究ベンチャー)職種：研究開発、設計、生産技術、営業技術、素材開発',
      message: '今まで積極的に採用を行う成長企業・多くの退職者が出る企業の双方を見てきた中で、今後伸びる業界/技術、衰退する業界/技術が見えつつあります。希望の実現だけで無く、入社後の活躍はもちろんのこと、今世の中に無い新しい技術/製品/サービスを生み出す組織の一員/リーダーとなられる転職実現を支援していきます。'
    },
    'y_yasugi': {
      name: '安来　裕爾',
      initial: 'Y.YASUGI',
      type: 'IT業界全般',
      filterNum: 1,
      profile: '1997年新卒で大手通信会社入社。営業、サービス企画、ソリューション推進部門を経験。2001年に大手人材紹介会社に転職。IT領域の転職支援に従事。2006年より現職。IT領域キャリアアドバイザー、再就職支援業務を経て、2011年より、IT領域で求人・ご年収800万円以上の求人・個人担当として、大手・ベンチャーの情シスやITサービス企画、コンサル、営業、プリセールス職種など、累計約300社担当。約6000名様のご相談、約1000名様の転職支援を実現',
      strength: '・大手からベンチャーまでの事業会社、ITサービス、外資ベンダー、コンサルティング・情報システム部門、ITサービス企画（金融、Eコマース、消費財、総合商社、製造、小売・流通など）・ビッグデータ、クラウド、セキュリティ、RPA、Fintech、IoTなどのポジション・CTO、CIO、CDO領域のポジション',
      message: '転職エージェントへの期待は、「リアルな企業・マーケット情報、他転職事例の収集、長期的なキャリアプラン形成の検討、曖昧な考えの思考整理」等がございますが、現在ITマーケットでは、世の中の仕組みを変えるゲームチェンジャーとなるビジネス・企業が増えており、過去情報や先入観と異なるリアルなITマーケット・企業情報をご提供し、過去サポート事例を併せながら、より良いご転職・キャリア支援をさせて頂きます。'
    },
    'm_watanabe': {
      name: '渡邊　美佐',
      initial: 'M.WATANABE',
      type: '物流・購買・SCM',
      filterNum: 5,
      profile: '大学卒業後、人材派遣の営業並びに商品企画を経験した後、リクルートキャリアにて勤務。人材業界で20年強の経験がござい暗す。関西・関東等の勤務経験があり、全国の転職市場の現状踏まえ、アドバイスが可能です。',
      strength: '・外資系物流会社のPJマネージャーや日系上場企業メーカーのグローバル調達企画管理職、上場EC企業の経営企画等様々な実績を有しております。外資・日系に拘らず、物流・購買・SCMの領域ならお任せください。',
      message: '単なる転職の実現だけでなく、（その人らしさ）を大事にしながら、入社後活躍の実現を真のゴールとして、会社・風土のフィット感も考慮し、中長期で転職のサポートをしております。'
    },
    'k_nagata': {
      name: '永田　慶',
      initial: 'K.NAGATA',
      type: '機械/電子/メカトロニクス',
      filterNum: 3,
      profile: '理工学部機械工学科卒業後、モーターサイクルの生産技術者として、ラインの立ち上げや設備導入、工法開発に従事。2006年　株式会社リクルートキャリア（旧リクルートエージェント）に入社。キャリアアドバイザーとして、製造業の技術者(エンジニア)の転職支援に従事。2010年より製造業のハイキャリア領域のコンサルタントして企業の採用支援及び個人のお客様の転職支援に従事。',
      strength: '業界：機械・メカトロ・電気電子職種：研究・設計開発・生産技術・生産管理・品質管理・品質保証・工場長',
      message: '前職までのエンジニアとしての経験・知見、製造業に関わっている方々の様々な課題解決の経験・知見を活かして日本の産業の一助になりたいという想いから、現在に至っております。皆様がエンジニアとして培ってきた技術やご経験は、思っている以上に新たなキャリアに活かせる事が多々ございます。そのような、キャリアのステップアップへの道筋をご提示し、サポートが出来ればと思っております。'
    },
    'r_inoue': {
      name: '井上　亮',
      initial: ' R.INOUE',
      type: '経営企画/マーケティング/IT業界全般',
      filterNum: 6,
      profile: '消費財メーカー営業職を経験後、2005年リクルートキャリア入社。2010年より同社ハイキャリア領域の立ち上げに参画。経営企画・マーケ領域を中心とした事務系職種、ＩＴ・ＷＥＢ職種を担当。東京、大阪エリアにて事務系領域を担当。現在は関西エリアのプレイングマネジャーとして事業会社大手～成長ベンチャーまで経営層との人脈を保有。',
      strength: '経営企画・マーケティング・ＩＴ',
      message: '法人へは事業ステージに応じた最適な人材のご提案を求職者様には、法人カルチャーや経営者との相性踏まえた企業のご提案、マッチングを大切にしております。'
    },
    'n_takahashi': {
      name: '高橋　紀夫',
      initial: 'N.TAKAHASHI',
      type: '人事・経理・財務',
      filterNum: 5,
      profile: '国家資格キャリアコンサルティング技能士　大手スポーツメーカーにて販売促進を経験した後、外資系人材エージェントを経て、08年にリクルートキャリアに入社。一貫して事務系領域（人事、経理、法務）を担当。現在は、人事職領域のハイキャリア層の求人を担当。（HR領域専任コンサルタント）',
      strength: '■HR、人事領域全般（日系、外資問わず）・日系大手企業（業界問わず）部長、課長職位・スタートアップ、IPO等のベンチャー企業　人事責任者・外資　HRDirector、HRBP、',
      message: '日々、人事役員様、人事部長様とお話をさせて頂き、企業の人事課題についてヒアリングをさせて頂いております。人事課題は多種多様にあり、幅広い求人をお預かりをさせて頂いております。今までのご経験の強みを棚卸をさせて頂き、強みを活かしてご活躍できるフィールドを提案をさせて頂ければと思っております。相談ベースでも構いませんので、ご連絡を頂ければと思います。'
    },
    'm_noda': {
      name: '野田　まゆ子',
      initial: 'M.NODA',
      type: '人事・経理・財務',
      filterNum: 5,
      profile: '2004年。不動産会社勤務後、リクルートキャリアへ入社。10年以上にわたり、不動産会社、流通企業向け営業に従事。2015年より同社のハイキャリア部門にて管理部門領域を専門に企業、カスタマーをともに担当いたしております。特に法務領域を専門としております。',
      strength: '業界不問　法務案件',
      message: '人材業界の経験も長く、多くの企業様との取引実績がございます。経験を踏まえて、誠心誠意サポートさせていただきたいと思います。'
    },

    't_iida': {
      name: '飯田　朋之',
      initial: 'T.IIDA',
      type: '人事・経理・財務',
      filterNum: 5,
      profile: 'IT業界（開発）、外食（店舗、人事）を経て、2006年リクルートキャリアに入社。IT業界、製造メーカーの求職者に対する転職支援を行う。ハイキャリア層の組織へ異動し、バックオフィス系の候補者を担当。2015年にエグゼクティブサーチ会社へ転職し、製造メーカー担当コンサルタントとして採用支援を行い、2017年に復職。',
      strength: '・製造メーカーを中心に、バックオフィス（特に経理、財務）系案件　MGR、課長、部長、役員クラス案件・新規事業に関わるCFO候補案件・年収800万円以上、上限無し',
      message: '自分自身の転職経験、エグゼクティブクラスのサーチコンサルタント経験を踏まえ、企業の成長、課題解決に対して、ファイナンス分野から支えていきたい、やりがいをもった転職支援に向けて、ご相談をお待ちしております。'
    }
  };
