-
  var consultants = {
    'example' : {
      name: 'example',
      initial: 'example',
      type: 'example',
      filterNum: 3,
      profile: 'example',
      strength: 'example',
      message: 'example'
    },
    'example' : {
      name: 'example',
      initial: 'example',
      type: 'example',
      filterNum: 3,
      profile: 'example',
      strength: 'example',
      message: 'example'
    }
  };
